.content {
  margin-top: 2%;
}

.content button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.content button:hover {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.main-content {
  margin: auto 17%;
}

.indexContent {
  margin-left: 10%;
  margin-right: 10%;
}

.centeredContent {
  text-align: center;
}

.content-img {
  width: 50vw;
  height: 50vh;
}

ul {
  margin-left: 2%;
}
